apiVersion: apps/v1
kind: Deployment

metadata:
  name: nginx-app
  namespace: devops

spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx-app
          image: nginx:1.14.2
          ports:
            - containerPort: 80
          
